# Application
APP_PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=anasali_1851

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=1d

# Admin Seed
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=admin
